<?xml version="1.0" encoding="UTF-8"?>
<suite name="Nexxus Suite">
	
	<listeners> 
		<listener class-name="com.np.utility.ScreenshotUtility"></listener> 
 	</listeners>
 	
	<suite-files>
<!-- If you have more test suites, Please add them bellow. -->
   		<suite-file path="./LoginSuite.xml" />
   		<!--  <suite-file path="./SalesRepSuite.xml" /> -->
   
  </suite-files>
  
   <!--   <listeners>
  <listener class-name="atu.testng.reports.listeners.ATUReportsListener"></listener>
  <listener class-name="atu.testng.reports.listeners.ConfigurationListener"></listener>
  <listener class-name="atu.testng.reports.listeners.MethodListener"></listener>
  </listeners> -->
 </suite>